@using PizzaShop.ViewModels;
@model UserOrdersViewModel

<div class="col">
    <h2 class="mt-5">Vaše porudžbine</h2>
    <h4 class="text-muted">Ovde možete pogledati sve vaše porudžbine</h4>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Broj porudžbine</th>
                <th>Datum</th>
                <th class="item">Artikal</th>
                <th class="item">Cena</th>
                <th class="item">Količina</th>
                <th class="item">Ukupno</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var line in Model.UserOrders)
            {
                <tr>
                    <td>@line.ID</td>
                    <td>@line.OrderPlaced</td>
                    <td>@string.Join(", ", line.OrderDetails!.Where(od => od.OrderID == line.ID).Select(od => od.Pizza.Name))</td>
                    <td>@string.Join(", ", line.OrderDetails!.Where(od => od.OrderID == line.ID).Select(od => od.Price))</td>
                    <td>@line.OrderDetails!.Where(od => od.OrderID == line.ID).Select(od => od.Amount).Count()</td>
                    <td>@line.OrderTotal</td>
                </tr>
            }
        </tbody>
    </table>
</div>